.title {
    text-align: left;
}
#divMenu {
    text-align: right;
    display:inline; 
}
#about {
    text-align: center;
}
#menu li {
    display: inline;
}
.atencionHoraria {
    font-weight: bold;
    font-size: 22px;
    color: red;
}
#direccionVeterinaria {
    display: inherit;
    text-align: center;
    vertical-align: super;
}
#footer {
    display: inline-block;
}
#contact {
    text-align: center;
}
#contact {
    text-align: center;
}
.noBackground {
    background-image: none;
}
.imgAndP {
    width: 33.333%;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;
    margin: auto;
}
.imgAndP img {
    width: 100%;
}
.imgAndP p {
    justify-content: center;
}
.contenedor-columnas {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}